*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto';
}
.col-5{
    width:45%;
}
.justify{
    justify-content: space-between;
}
.col-6{
    width:50%;
}
.col-9{
    width: 75%;
}
.col-3{
    width:25%;
}
.col-4{
    width:33.33%;
}
.flex{
    display:flex;
}
.margin{
    margin-right:10px;
}
form{
    display:flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    top:50%;
    left:50%;
    right:50%;
    bottom:50%;
    transform: translate(-50%,-50%);
    width:45%;
}
.main{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding:35px 70px;
    border-radius: 7px;
}
label{
    margin:7px 0;
    display:inline-block
}
input{
    padding:10px;
    width:10%;
    display:inline-block;
    margin-bottom: 5px;
}
.space{
    width:100%;
}
textarea{
    padding:10px 0 0 10px;
}
button{
    background-color: rgb(248, 68, 100);
    color:white;
    border: none;
    height:30px;
    cursor: pointer;
    width:100%;
    margin:10px 0;
    border-radius: 5px;
}
.top{
    margin:10px 0;
}
.back{
    position: absolute;
    top:10%;
    left:3%;
    font-size: 25px;
    color:white ;
    background-color: rgba(248, 68, 100,0.7);
    padding:13px;
    border-radius: 50%;
}